nav{
    width: auto;
    height: 80px;

    margin-top:55px;
    /* margin-left: 8%;
    margin-right: 8%; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #FFFFFF;

    position: sticky;
    top:0;

    z-index: 1;
}
.nav-logo{
    width: 106px;
    height: 54px;

    background-image: url('/img/Britlex-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    cursor: pointer;
}
.nav-list{
    width: 518px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-list div a{
    text-decoration: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #263238;

    cursor: pointer;

    transition: 0.3s;
}
.nav-list div:hover a{
    border-bottom: 1px solid rgba(38, 50, 56, 1);
    transition: 0.3s;
}
.nav-talk{
    width: 220px;
    height: 70px;

    border: 1px solid rgba(38, 50, 56, 1);
    border-radius: 5px;

    display:flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;  
}
.nav-talk{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #000000;

    transition: 0.3s;
}
.nav-talk:hover{
    background-color:rgba(38, 50, 56, 1);
    color:#FFFFFF;
    transition: 0.3s;
}
.nav-burger{
    display:none;

    background-image: url('/img/burger.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@media screen and (max-width: 1000px) {
    .nav-logo{
        width: 89px;
        height: 45px;
    }
    .nav-list div a{
        font-size: 16px;
    }
    .nav-talk{
        width: 160px;
        height: 50px;

        font-size: 18px;
    }
}
@media screen and (max-width: 767px) {
    .nav-list{
        display: none;
    }
    .nav-talk{
        display: none;
    }
    .nav-burger{
        display: flex;

        width: 30px;
        height: 17px;

        background-image: url('/img/burger.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        cursor: pointer;
    }
}
@media screen and (max-width: 575px) {
    nav{
        width: 100%;
    }    
}
@media screen and (max-width: 450px) {
    nav{
        width: 100%;
    }  
}